<html ng-app="Security3Server">
<head>
<title>Security3</title>
<link href="../stylesheets/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet"/>
<link href="../stylesheets/bootstrap-3.3.7-dist/css/cover.css" rel="stylesheet"/>
<link href="../stylesheets/style.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
<script src="../stylesheets/Controller.js"></script>
</head>
<body>

<div style="background-color: #58563f; height:175px; opacity:0.90; border-radius: 25px;"><img style="height:175px" src="/img/header.jpg"></div>

<div class="container">
<h1 class="cover-heading">HACKATHON</h1>
<p class="lead">Your low cost home secutiry kit powered by Blockchain</p>
<p class="lead"><a href="#" class="btn btn-lg btn-secondary">Your Dashboard</a></p>
</div>


<div class="container-fluid" ng-controller="Controller">
<div class="row">
<div class="col-md-4">
<h2>Pictures</h2>
<div ng-repeat="image in imageList" class="gallery-img">
<a href="{{image.link}}"><img  ng-src="{{image.link}}" class="image"></a>
<div>Hash: {{image.hash}}</div>
</div>
</div>
<div class="col-md-4">
<h2>Verification</h2>
<div ng-repeat="image in verifyImageList" ng-class="image.integrity ? 'integer' : 'nonInteger'" class="gallery-img">
<a href="{{image.link}}"><img  ng-src="{{image.link}}" class="image"></a>
<div>Hash: {{image.hash}}</div>
</div>
</div>
<div class="col-md-4"> 
<h2>Blockchain</h2>
<div ng-repeat="block in blockChain" class="block">
<div>Block Hash: </div><div>{{block.blockHash}}</div>
<div></div>
<div>Last Block Hash: {{block.lastBlock}}</div>
<div></div>
<div>Image Hash: </div><div>{{block.hash}}</div>
<div></div>
<div>TimeStamp: </div><div>{{block.timestamp}}</div>
<div></div>
<div>Nonce: </div><div>{{block.nonce}}</div>

</div>
</div>
</div>
</div>

<div >

</div>


 
</body>
</html>