<ion-view view-title="Security3 - Verify">
    <ion-content class="padding">
      <img ng-src="{{VerifyController.imageSrc | noPicture}}" style="width:100%"/>
      <button class="button button-block button-dark" ng-click="VerifyController.select()">
        <i class="icon ion-search"></i>
      </button>
      <button class="button button-block button-dark" ng-disabled="!VerifyController.imageSrc" ng-click="VerifyController.upload()">
        <i class="icon ion-upload"></i>
      </button>
    </ion-content>
</ion-view>
