<ion-view view-title="Security3 - Upload">
  <ion-content class="padding">
    <img ng-src="{{UploadController.imageSrc | noPicture}}" style="width:100%"/>
    <button class="button button-block button-dark" ng-click="UploadController.select()">
      <i class="icon ion-search"></i>
    </button>
    <button class="button button-block button-dark" ng-disabled="!UploadController.imageSrc" ng-click="UploadController.upload()">
      <i class="icon ion-upload"></i>
    </button>
  </ion-content>
</ion-view>
